body {
    background-color: #ECEDE8; 
}
  
/* Menu */
.navbar-nav {
    margin-left: auto; 
  }
.navbar {
    background-color: #ECEDE8; 
    padding-top: 25px;
}
.navbar-nav .nav-link {
    color: #000000;
    text-transform: uppercase;
    font-family: 'Imprima', sans-serif;
    font-size: 20px;
}
.navbar-nav .nav-link:not(:last-child) {
    margin-right: 50px; 
}
.navbar-brand img {
    width: 200px; 
    height: auto; 
} 

/* Botão de Pesquisa */
.navbar-light .btn-outline-success {
    background-image: linear-gradient(to right, #C0CFB2, #69826E); 
    color: #253528;
    font-family: 'Imprima', sans-serif;
    border: 0.5px solid #253528;
}
.navbar-light .btn-outline-success:hover {
    background-image: linear-gradient(to left, #C0CFB2, #69826E); 
    color: #ffffff;
    border-color: #253528; 
}

/* Título H1 */
.big-title {
    font-size: 64px; 
    color: #48644D; 
    font-family: 'Acme', sans-serif;
    padding-top: 70px;
}

/* Título H2 */
.medium-title {
    font-size: 48px; 
    color: #253528; 
    font-family: 'Acme', sans-serif;
    padding-top: 30px;
} 

/* Texto */
.text {
    font-size: 18px; 
    font-family: 'Imprima', sans-serif;
} 

/* Sobre Mim */
.title-about-me {
    font-size: 48px; 
    color: #253528; 
    font-family: 'Acme', sans-serif;
    padding-top: 110px;
} 
.about-me-section {
    background-image: url(images/index-about-me-background.png);
    background-position: top;
    padding-bottom: 140px;
    padding-right: 70px;
} 
.about-me-section img {
    margin-top: 150px;
    border: 2px solid #253528;
    border-radius: 35px;
} 

/* Preview de Review */
.book-title {
    font-size: 16px; 
    color: #000000; 
    font-family: 'Imprima', sans-serif;
    padding-top: 15px;
    text-shadow: 
    -0.5px -0.5px 0 #000000,  
     0.5px -0.5px 0 #000000,
    -0.5px  0.5px 0 #000000,
     0.5px  0.5px 0 #000000;
} 
.book-title a {
    text-decoration: none;
    color: inherit;
}

.book-author {
    font-size: 14px; 
    color: #5D5D5D; 
    font-family: 'Imprima', sans-serif;
} 

/* Preview das Reviews */
.custom-btn {
    background-image: linear-gradient(to right, #C0CFB2, #69826E); 
    color: #253528;
    font-size: 24px;
    font-family: 'Imprima', sans-serif;
    border: 1px solid #253528; 
    border-radius: 36px;
    width: 250px;
    float: right;
    margin-top: 30px;
    margin-bottom: 30px;
}
.custom-btn:hover {
    background-image: linear-gradient(to left, #C0CFB2, #69826E); 
    color: #ffffff;
    border-color: #253528; 
}
.review-preview-call-to-action {
    font-size: 18px; 
    color: #000000; 
    font-family: 'Imprima', sans-serif;
    padding-bottom: 40px;
} 

/* Contagem de Review */
.line hr {
    border: none;
    height: 10px;
    background-color: transparent; 
    background-image: linear-gradient(to right, #C0CFB2, #69826E); 
    margin-top: 75px;
} 
.review-number {
    font-size: 86px; 
    color: #000000; 
    font-family: 'Imprima', sans-serif;
    text-align: center;
    background-image: url('images/index-review-count.png'); 
    background-size: auto; 
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 35px; 
}

/* Ir para a listagem */
.back-link  {
    text-decoration: none;
    display: flex;
    align-items: center;
}
.back-link .text {
    font-family: 'Imprima', sans-serif;
    color: #253528;
    font-size: 25px;
}
.back-link .circle {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #253528;
    background: linear-gradient(to right, #C0CFB2, #69826E);
    margin-right: 20px;
} 
.back-link .arrow  {
    color: #253528;
    font-size: 20px;
} 
.back-link .circle:hover {
    background-image: linear-gradient(to left, #C0CFB2, #69826E); 
    border-color: #253528; 
}
.back-link .text:hover {
    color: #48644D; 
}

/* Introdução Livro */
.book-introduction {
    padding-top: 40px;
    background-image: url(images/review-page-background.png);
    background-size: cover;
} 
.review-book-author {
    font-size: 22px; 
    color: #738667; 
    font-family: 'Imprima', sans-serif;
}
.rating-title {
    font-size: 32px; 
    color: #69826E; 
    font-family: 'Acme', sans-serif;
    padding-top: 80px;
} 
.rating-stars {
    display: flex; 
}
.rating-stars img {
    width: 50px; 
    margin-right: 10px; 
}

/* Corpo Texto Review */
.book-review, .book-suggestions {
    background-color: #D1DBC9;
    padding-left: 55px;
    padding-right: 55px; 
}
.book-suggestions {
    padding-bottom: 70px; 
}
.review-title {
    font-size: 32px; 
    color: #69826E; 
    font-family: 'Acme', sans-serif;
    padding-top: 40px;
} 
.review-line {
    width: 152px; 
    height: 2px; 
    background-color: #48644D; 
    margin-right: 0; 
    margin-top: 20px;
    margin-left: 10px;
}
.one-line-title {
    padding-top: 48px; 
}

/* Listagem de Review */
.carousel-container {
    padding-top: 30px;
}
.bookshelf-title {
    text-align: center;
}
.bookshelf-text {
    text-align: center;
    color: #5D5D5D;
    padding-bottom: 20px;
}
.bookshelf{
    padding-bottom: 30px;
}
.bookshelf-filter{
    padding-bottom: 40px;
}

/* Listagem Filtro */
.count-review{
    background-image: linear-gradient(to left, #C0CFB2, #69826E); 
    border: 1px solid #253528;
    text-align: center;  
}
.count-title {
    font-size: 16px; 
    color: #253528; 
    font-family: 'Acme', sans-serif;
    padding-top: 15px; 
    margin-bottom: 0; 
}
.count-number {
    font-size: 60px; 
    color: #253528; 
    font-family: 'Acme', sans-serif;
    margin-top: 0;
}
.search-review{
    background-color: #D1DBC9; 
    border: 1px solid #253528;
    font-family: 'Imprima', sans-serif;
    padding-left: 20px;
    padding-right: 20px; 
    padding-top: 20px;
    padding-bottom: 20px;
     
}
.search-review p {
    font-family: 'Acme', sans-serif;
    font-size: 24px;
    color:#253528;
}
.dropdown-menu { 
    width: 100%; 
}
.dropdown-toggle {
    background-color: #ECEDE8; 
    width: 100%;
    border: 1px solid #69826E;
    border-radius: 36px; 
    text-align: left;
    color: #000000;
}
.dropdown-toggle:hover {
    background-color: #253528; 
    border: 1px solid #69826E; 
}

/* Rodapé */  
.footer {
    background-color: #D8DAD2;
    padding-top: 35px;
}
.footer ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.footer li {
    display: inline;
    margin-right: 15px;
} 
.footer .fa-brands,
.footer .fa-solid {
    font-size: 28px;
    color: #253528; 
}
.footer a {
    text-decoration: none; 
    color: #000000; 
    text-transform: uppercase;
    font-family: 'Imprima', sans-serif;
    font-size: 20px;    
}
.footer a:hover {
    color: #69826E;
}
.footer a:hover,
.footer .fa-brands:hover,
.footer .fa-solid:hover {
    color: #69826E;
}
.social-media-icons {
    text-align: right;
}
.social-media-text  {
    font-size: 30px; 
    color: #253528; 
    font-family: 'Acme', sans-serif;
    text-align: right;
}
.footer-line hr {
    border: none;
    border-top: 2px solid #000000; 
    width: 80%; 
    margin: auto; 
    margin-top: 20px; 
    margin-bottom: 20px; 
}
.footer-logo {
    width:150px;
    height: auto;
    padding-bottom: 20px;
}
